<div class="container cardholder">
  <div class="row">
    <div class="col-3">
      <div class="card-container fade-in">
        <img src="assets/images/Alta1.JPG" alt="Alta" class="image" />
        <div class="overlay">
          <div class="text">Bluebell Days Skiing in Alta</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-container slide-in-top">
        <img src="assets/images/Alta2.JPG" alt="lab_obx" class="image" />
        <div class="overlay">
          <div class="text">Great View of Gunsight</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-container slide-in-bottom">
        <img src="assets/images/Flag.jpg" alt="obx_beach" class="image" />
        <div class="overlay">
          <div class="text">Downtown Park City</div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card-container slide-in-right">
        <img src="assets/images/Rbow.JPG" alt="rbow" class="image" />
        <div class="overlay">
          <div class="text">Rainbow in Kauai</div>
        </div>
      </div>
    </div>
  </div>
</div>
